/* colors */
:root{
  --primary: #859aff;
  --primary-darken: #af2cbc;
  --bg: rgb(93, 68, 255);
  --shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
  --corners: 3px;
  --text-color: rgb(218, 218, 218);
  --light-color: rgb(220,220,220);
  --highlight: rgb(44, 41, 41);
  --text-color1: rgb(4, 5, 14);
}

body{

  background-color: var(--bg);
  background-color: rgb(0,212,255);
  background: linear-gradient(140deg, rgba(0,212,255,1) 0%, rgba(3,134,203,1) 12%, rgba(9,9,121,1) 56%, rgba(2,0,36,1) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
  color:var(--text-color);

}

header{
  margin: 1em 0;
}

.weeks{
  color: var(--text-color1);
}

.points{
  color: var(--primary)
}