/* colors */
:root{
  --primary: #edff85;
  --primary-darken: #a8bb00;
  --bg: rgb(93, 68, 255);
  --shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
  --corners: 3px;
  --text-color: rgb(218, 218, 218);
  --light-color: rgb(220,220,220);
  --highlight: rgb(44, 41, 41);
  --text-color1: rgb(4, 5, 14);
  --title-color: rgb(0,212,255);
}

.logo-title {
  display: flex;
  flex-direction: row;
}

.logo {
  max-height: 20rem;
  max-width: 20rem;
  width: 25%;
}

.title {
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: rgb(99, 99, 99);
  color: linear-gradient(140deg, rgb(24, 24, 24) 0%, rgb(114, 114, 114) 12%, rgb(204, 204, 204) 56%, rgb(248, 248, 248) 100%);
  align-self: center;
}


body{

  background-color: var(--bg);
  background-color: rgb(0,212,255);
  background: linear-gradient(300deg, rgba(0,212,255,1) 0%, rgba(3,134,203,1) 12%, rgba(9,9,121,1) 56%, rgba(2,0,36,1) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
  color:var(--text-color);

}

header{
  margin: 1em 0;
}

.weeks{
  color: var(--title-color);
  font-size: 3rem;
  font-weight: normal;
}

.points{
  color: var(--primary);
}

.answer{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


button{
  background-color: var(--primary);
  color: var(--bg);
  border: 1px solid var(--primary-darken);
  border-radius: var(--corners);
  box-shadow: var(--shadow);
  text-transform: uppercase;
  transition: all .2s ease;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  justify-content: center;
  display: flex;
  width: 7rem;
  height: 3rem;
  margin-top: .25rem;
}

.hidden {
  display: none !important;
}

.main {
  display: flex;
  flex-direction: row-reverse;
}

.flexbox-buttons {
  width: 10%;
  
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexbox-weeks {
  width: 90%;
}