/* colors */
:root{
  --primary: #eb92fd;
  --primary-darken: #af2cbc;
  --bg: rgb(93, 68, 255);
  --shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
  --corners: 3px;
  --text-color: rgb(196, 196, 196);
  --light-color: rgb(220,220,220);
  --highlight: rgb(44, 41, 41);
  --text-color1: rgb(146, 138, 138);
}

body{

  background-color: var(--bg);
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
  color:var(--text-color);

}

header{
  margin: 1em 0;